<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Pizzashop</servlet-name>
		<servlet-class>pizzawh.PizzashopServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pizzashop</servlet-name>
		<url-pattern>/pizzashop</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
		<servlet>
    <servlet-name>addmenu_linkdata</servlet-name>
    <servlet-class>pizzawh.AddMenuLinkDataServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>addmenu_linkdata</servlet-name>
    <url-pattern>/add</url-pattern>
</servlet-mapping>
	<servlet>
    <servlet-name>edit2_linkdata</servlet-name>
    <servlet-class>pizzawh.Edit2LinkDataServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>edit2_linkdata</servlet-name>
    <url-pattern>/edit</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>del2_linkdata</servlet-name>
    <servlet-class>pizzawh.Del2LinkDataServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>del2_linkdata</servlet-name>
    <url-pattern>/del</url-pattern>
</servlet-mapping>	
</web-app>
